<%= form_with model: [ @location, @location.comments.build ] do |form| %>
    <div class="field mb-3" >
      <%= form.label :comments, class: "form-label" %><br>
      <%= form.text_area :body, class: "form-control" %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>