html,#back{
  height: 100%;
  background-color: #F5F5F5;
  font-family:'Times New Roman', Times, serif;
}

nav {
  background-color: gray;
  margin-bottom: 50px;
}

.nav-link{
  color:lightcoral;
}

.navbar-brand{
  color: black;
}

nav.navbar-toggler{
  color: black;
}

.card{
  max-width: 50cm;
}
