html, #back{
  height: 100%;
  background-color: #F5F5F5;
  font-family:'Times New Roman', Times, serif;
}
#front{
  margin-bottom: 50px;
}
#nav_style{
  margin-bottom: 50px;
}
nav {
  background-color: rgb(129, 40, 129);
}

.card{
  max-width: 50cm;
}

#web_name{
  color: white
}
