<%= stylesheet_link_tag "my_style" %>
<div class="container">
 <div class="row">
  <div class="col-sm"> 
  </div>

  <div class="col-sm-6 border card">
    <h1>Edit Location</h1>

    <%= render "form", location: @location %>

  </div>

  <div class="col-sm">
  </div>

</div>
</div>