<h1>Location</h1>
<ul>
  <% @locations.each do |location| %>
    <li>
      <a href="/locations/<%=location.id %>">
        <%= location.name %>
      </a>
    </li>
  <% end %>
</ul>
<p>Find me in app/views/search/index.html.erb</p>
